<mat-toolbar color="primary">
  <span>News Headlines</span>  
  <span class="example-spacer"></span>
  <button mat-button [routerLink]="['/home']">Home</button>
  <button mat-button [routerLink]="['/favorites']">Favorites</button>
  <!-- 
  <button mat-button [matMenuTriggerFor]="appMenu"><mat-icon>settings</mat-icon></button>
  -->
</mat-toolbar>
<!-- 
<mat-menu #appMenu="matMenu">
  <button mat-menu-item> Settings </button>
  <button mat-menu-item> Help </button>
</mat-menu>
-->
<mat-sidenav-container class="example-container">
  <router-outlet></router-outlet>
</mat-sidenav-container>
